<h1>Editing comment</h1>
<div id="div_column">
<% form_for @comment, :url => project_task_comment_path(@comment.task.project, @comment.task, @comment) do |f| %>
  <%= f.error_messages %>
  <%= f.text_area :content, :size => '40x10'%> 
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>
<%= render :partial => '/static/textilize_howto' %> <br /> <br /> <br /> <br />
<%= link_to 'Back', project_task_path(@comment.task.project, @comment.task) %>
