%h4
  Editing Post
- form_for(@post, :url => user_post_path(current_user, @post)) do |f|
  = f.error_messages
  %p
    = f.label :title, 'Title'
    %br
    = f.text_field :title, :class => "title_box"
  %div{ :style => "margin-bottom: 0; margin-top: 1em" }
    = f.label :content, 'Content'
    = render :partial => '/statics/textilize_howto'
    %br
    = f.text_area :content, :size => '40x15', :class => "wide"
  %p.tiny_text
    = f.submit "Update"
    = link_to 'Cancel', :back
