%h1
  Listing posts
%table
  - for post in @posts
    %tr
      %td
        %b= h post.title
    %tr
      %td
        = post.markup_content
    %tr
      %td
        = h post.user.login
        ( comment count :
        = h post.comments_count
        )
        = link_to 'Show', user_post_path(post.user, post)
        = link_to 'Edit', edit_user_post_path(post.user, post)
        = link_to 'Destroy', user_post_path(post.user, post), :confirm => 'Are you sure?', :method => :delete
    %tr
      %td
        %hr
