%h1
  New post
- form_for [current_user, @post] do |f|
  %p
    Title
    %br
    = f.text_field :title
  %p
    Content
    %br
    = render :partial => '/statics/textilize_howto'
    = f.text_area :content
  %p
    = f.submit "Create"

= link_to 'Back', user_posts_path
