%p
  %b
    = h @post.title
  %br
  = h @post.user.login
%p
  = sanitize @post.markup_content
= link_to 'Edit', edit_user_post_path(@post.user, @post)
|
= link_to 'Back', user_posts_path(@post.user)
%br
%span#comments_header
  = @post.comments.size
  Comment
#comments
  = render :partial => @post.comments

#comment_form
  - form_remote_tag :url => { :action => :create, :controller => :comments } do
    = hidden_field_tag 'comment[post_id]', @post.id
    %div
      %label{:for => "comment_input"} New Comment
      = render :partial => '/statics/textilize_howto'
      %br
      %textarea{:id => "comment_input", :name => "comment[content]", :rows => "8", :cols => "40", :class => "wide"}
    %p
      = submit_tag 'Create'		  
      %span.error.tiny_text{ :id => "comment_error", :style => "display:none;"} Write something first!    
      
